{{ 'component-custom-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-custom-button.css' | asset_url | stylesheet_tag }}
<script src="{{ 'component-custom-cart-drawer.js' | asset_url }}" defer></script>

<aside
  class="custom-cart-drawer"
  data-cart-drawer
  aria-hidden="true"
  aria-labelledby="CartDrawerTitle"
  role="dialog"
>
  <div class="custom-cart-drawer__overlay" data-cart-drawer-close></div>
  <div class="custom-cart-drawer__panel">
    <div class="custom-cart-drawer__header">
      <h2 class="custom-cart-drawer__title heading-style-h5" id="CartDrawerTitle">{{ 'cart.your_cart' | t }}</h2>
      <button class="custom-cart-drawer__close" type="button" data-cart-drawer-close aria-label="{{ 'general.close' | t }}">
        {{ 'general.close' | t }}
      </button>
    </div>

    <form
      class="custom-cart-drawer__form"
      id="CartDrawer"
      action="{{ routes.cart_url }}"
      method="post"
      samitaWS-drawer-form
    >
      <div class="custom-cart-drawer__content" data-cart-drawer-content>
        <p class="custom-cart-drawer__empty">{{ 'cart.empty' | t }}</p>
      </div>

      <div class="custom-cart-drawer__footer">
        <div class="custom-cart-drawer__subtotal">
          <span>{{ 'cart.subtotal' | t }}</span>
          <span class="totals__subtotal-value" data-cart-drawer-subtotal samitaWS-drawer-line-item-subtotal-price>$0.00</span>
        </div>
        <button
          class="custom-cart-drawer__checkout custom-button custom-button--secondary"
          type="submit"
          id="CartDrawer-Checkout"
          name="checkout"
          samitaWS-drawer-checkout-btn
        >
          {{ 'cart.checkout' | t }}
        </button>
      </div>
    </form>
  </div>
</aside>
