{{ 'component-custom-footer-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-custom-button.css' | asset_url | stylesheet_tag }}

<section class="custom-footer-newsletter full-width section-padding--lg">
  <div class="custom-footer-newsletter__media">
    {% if settings.newsletter_bg_video != blank %}
      {{ settings.newsletter_bg_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}
    {% elsif settings.newsletter_bg_poster != blank %}
      {{ settings.newsletter_bg_poster | image_url: width: 2400 | image_tag: alt: settings.newsletter_title, loading: 'lazy' }}
    {% endif %}
  </div>
  <div class="custom-footer-newsletter__overlay" aria-hidden="true"></div>

  <div class=" g-4">

    <div class="custom-footer-newsletter__form" aria-hidden="true">
      <div class="klaviyo-form-Wg6GAT d-flex align-items-center" style="z-index: 999;">
        <div class="custom-footer-newsletter__text">
          {% if settings.newsletter_title != blank %}
            <h2 class="custom-footer-newsletter__title heading-style-h2">{{ settings.newsletter_title }}</h2>
          {% endif %}
          {% if settings.newsletter_subtitle != blank %}
            <div class="custom-footer-newsletter__subtitle">{{ settings.newsletter_subtitle }}</div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
