{{ 'component-custom-footer.css' | asset_url | stylesheet_tag }}

<footer
  class="custom-footer full-width"
  role="contentinfo"
  style="{% if settings.footer_background_image != blank %}--footer-bg-image: url('{{ settings.footer_background_image | image_url: width: 2400 }}');{% endif %}"
>
  <div class="container-xl custom-footer__inner">
    {% assign upsell_menu = settings.footer_menu_upsell %}
    {% assign support_menu = settings.footer_menu_support %}
    {% assign contact_menu = settings.footer_menu_contact %}
    {% assign legal_menu = settings.footer_menu_legal %}

    {% if upsell_menu != blank or settings.footer_social_instagram != blank or settings.footer_social_tiktok != blank or settings.footer_social_facebook != blank or settings.footer_social_youtube != blank %}
      <div class="custom-footer__column">
        {% if upsell_menu != blank and upsell_menu.links.size > 0 %}
          <ul class="custom-footer__list custom-footer__list-main">
            {% for link in upsell_menu.links %}
              <li class="custom-footer__item">
                <a class="custom-footer__link" href="{{ link.url }}">
                  <h3 class="heading-style-h5">{{ link.title }}</h3>
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if settings.footer_social_instagram != blank or settings.footer_social_tiktok != blank or settings.footer_social_facebook != blank or settings.footer_social_youtube != blank %}
          <div class="custom-footer__socials" aria-label="{{ 'footer.socials' | t }}">
            {% if settings.footer_social_instagram != blank %}
              <a class="custom-footer__social" href="{{ settings.footer_social_instagram }}" aria-label="{{ 'socials.instagram' | t }}">
                {{ 'icon-social-instagram.svg' | inline_asset_content }}
              </a>
            {% endif %}
            {% if settings.footer_social_tiktok != blank %}
              <a class="custom-footer__social" href="{{ settings.footer_social_tiktok }}" aria-label="{{ 'socials.tiktok' | t }}">
                {{ 'icon-social-tiktok.svg' | inline_asset_content }}
              </a>
            {% endif %}
            {% if settings.footer_social_facebook != blank %}
              <a class="custom-footer__social" href="{{ settings.footer_social_facebook }}" aria-label="{{ 'socials.facebook' | t }}">
                {{ 'icon-social-facebook.svg' | inline_asset_content }}
              </a>
            {% endif %}
            {% if settings.footer_social_youtube != blank %}
              <a class="custom-footer__social" href="{{ settings.footer_social_youtube }}" aria-label="{{ 'socials.youtube' | t }}">
                {{ 'icon-social-youtube.svg' | inline_asset_content }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    {% endif %}

    <div class="custom-footer__secondary">
      {% if support_menu != blank and support_menu.links.size > 0 %}
        <div class="custom-footer__column">
          <h3 class="custom-footer__heading heading-style-h5">{{ 'footer.support' | t }}</h3>
          <ul class="custom-footer__list">
            {% for link in support_menu.links %}
              <li class="custom-footer__item">
                <a class="custom-footer__link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div class="custom-footer__column">
        <h3 class="custom-footer__heading heading-style-h5">{{ 'footer.contact' | t }}</h3>
        {% if contact_menu != blank and contact_menu.links.size > 0 %}
          <ul class="custom-footer__list">
            {% for link in contact_menu.links %}
              <li class="custom-footer__item">
                <a class="custom-footer__link" href="{{ link.url }}">
                  {{ link.title
                    | replace: '&lt;br&gt;', '<br>'
                    | replace: '&lt;br/&gt;', '<br>'
                    | replace: '&lt;br /&gt;', '<br>'
                  }}
                </a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      {% if legal_menu != blank and legal_menu.links.size > 0 %}
        <div class="custom-footer__column">
          <h3 class="custom-footer__heading heading-style-h5">{{ 'footer.legal' | t }}</h3>
          <ul class="custom-footer__list">
            {% for link in legal_menu.links %}
              <li class="custom-footer__item">
                <a class="custom-footer__link" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</footer>
