{{ 'component-custom-stockist-portal.css' | asset_url | stylesheet_tag }}

<section class="custom-stockist-portal section-padding--md-bottom full-width is-light">
  <div class="custom-stockist-portal__media">
    {% if section.settings.background_video != blank %}
      {{ section.settings.background_video | video_tag: autoplay: true, loop: true, muted: true, controls: false, playsinline: true }}
    {% elsif section.settings.background_image != blank %}
      {{ section.settings.background_image | image_url: width: 2400 | image_tag: alt: section.settings.heading, loading: 'lazy' }}
    {% else %}
      <div class="custom-stockist-portal__placeholder" role="img" aria-label="{{ 'stockist.portal.background_label' | t }}"></div>
    {% endif %}
  </div>

  <div class="custom-stockist-portal__panel-wrapper g-4">
    <div class="custom-stockist-portal__panel">
      <div class="custom-stockist-portal__tabs" role="tablist">
        <button
          class="custom-stockist-portal__tab heading-style-h6 active"
          type="button"
          role="tab"
          id="StockistLoginTab-{{ section.id }}"
          aria-controls="StockistLogin-{{ section.id }}"
          aria-selected="true"
          data-bs-toggle="tab"
          data-bs-target="#StockistLogin-{{ section.id }}"
        >
          {{ section.settings.login_tab_label }}
        </button>
        <button
          class="custom-stockist-portal__tab heading-style-h6"
          type="button"
          role="tab"
          id="StockistSignupTab-{{ section.id }}"
          aria-controls="StockistSignup-{{ section.id }}"
          aria-selected="false"
          data-bs-toggle="tab"
          data-bs-target="#StockistSignup-{{ section.id }}"
        >
          {{ section.settings.signup_tab_label }}
        </button>
      </div>

      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="StockistLogin-{{ section.id }}"
          role="tabpanel"
          aria-labelledby="StockistLoginTab-{{ section.id }}"
        >
          <h1 class="custom-stockist-portal__title heading-style-h2">{{ section.settings.heading }}</h1>
          <p class="custom-stockist-portal__subtitle">{{ section.settings.login_subtitle }}</p>

          {% form 'customer_login', class: 'custom-stockist-portal__form' %}
            <div class="custom-input">
              <label class="custom-input__label" for="StockistLoginEmail-{{ section.id }}">{{ 'customers.login.username' | t }}</label>
              <input
                class="custom-input__field"
                id="StockistLoginEmail-{{ section.id }}"
                type="email"
                name="customer[email]"
                autocomplete="email"
              >
            </div>
            <div class="custom-input">
              <label class="custom-input__label" for="StockistLoginPassword-{{ section.id }}">{{ 'customers.login.password' | t }}</label>
              <input
                class="custom-input__field"
                id="StockistLoginPassword-{{ section.id }}"
                type="password"
                name="customer[password]"
                autocomplete="current-password"
              >
            </div>
            <button class="custom-button custom-button--primary" type="submit">
              {{ section.settings.login_button_label }}
            </button>
            <a class="custom-stockist-portal__link" href="{{ section.settings.forgot_password_url }}">
              {{ section.settings.forgot_password_label }}
            </a>
          {% endform %}
        </div>

        <div
          class="tab-pane fade"
          id="StockistSignup-{{ section.id }}"
          role="tabpanel"
          aria-labelledby="StockistSignupTab-{{ section.id }}"
        >
          <h1 class="custom-stockist-portal__title heading-style-h3">{{ section.settings.heading }}</h1>
          <p class="custom-stockist-portal__subtitle">{{ section.settings.signup_subtitle }}</p>

          <div class="custom-stockist-portal__form">
            {{ section.settings.signup_shortcode }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Custom Stockist Portal",
  "settings": [
    {
      "type": "video",
      "id": "background_video",
      "label": "Background video"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Stockist Portal"
    },
    {
      "type": "text",
      "id": "login_tab_label",
      "label": "Login tab label",
      "default": "Login"
    },
    {
      "type": "text",
      "id": "signup_tab_label",
      "label": "Sign up tab label",
      "default": "Sign up"
    },
    {
      "type": "textarea",
      "id": "login_subtitle",
      "label": "Login subtitle",
      "default": "Sign in to receive exclusive stockist prices."
    },
    {
      "type": "textarea",
      "id": "signup_subtitle",
      "label": "Sign up subtitle",
      "default": "Please fill out the form below to request access for stockist discounts."
    },
    {
      "type": "textarea",
      "id": "signup_shortcode",
      "label": "Signup shortcode",
      "default": "Sami shortcode here"
    },
    {
      "type": "text",
      "id": "login_button_label",
      "label": "Login button label",
      "default": "Log in"
    },
    {
      "type": "text",
      "id": "signup_button_label",
      "label": "Sign up button label",
      "default": "Sign up"
    },
    {
      "type": "text",
      "id": "forgot_password_label",
      "label": "Forgot password label",
      "default": "Forgot password?"
    },
    {
      "type": "url",
      "id": "forgot_password_url",
      "label": "Forgot password URL"
    }
  ],
  "presets": [
    {
      "name": "Custom Stockist Portal"
    }
  ]
}
{% endschema %}
